<?xml version="1.0" encoding="utf-8"?>
<settings>
  <maxRateFactor>5</maxRateFactor>
  <maxRateEnabled>False</maxRateEnabled>
  <remuxEnabled>True</remuxEnabled>
  <downloadLocation>videos</downloadLocation>
  <maxJobs>0</maxJobs>
  <remuxRecycleEnabled>False</remuxRecycleEnabled>
  <recordingPaddingEnd>0</recordingPaddingEnd>
  <bandwidth>0</bandwidth>
  <windowMetrics>0, 0, 0, 0</windowMetrics>
  <remuxFormats>mp4</remuxFormats>
  <maxJobsEnabled>False</maxJobsEnabled>
  <recordingPaddingStart>0</recordingPaddingStart>
  <recordingPaddingEnabled>False</recordingPaddingEnabled>
  <windowState></windowState>
</settings>