<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Captvty.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath="bin;bin\cefsharp"/>
    </assemblyBinding>
    <loadFromRemoteSources enabled="true"/>
  </runtime>
  <userSettings>
    <Captvty.Properties.Settings>
      <setting name="Bandwidth" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="MaxJobsEnabled" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="MaxRateEnabled" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="PlayerPaths" serializeAs="String">
        <value/>
      </setting>
      <setting name="DownloadLocation" serializeAs="String">
        <value>videos</value>
      </setting>
      <setting name="RemuxEnabled" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="RemuxFormats" serializeAs="String">
        <value/>
      </setting>
      <setting name="RemuxRecycleEnabled" serializeAs="String">
        <value>False</value>
      </setting>
    </Captvty.Properties.Settings>
  </userSettings>
</configuration>